/*  RESET */
*{
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

/* CLEARFIX */
.clearfix::after{
    content: "";
    display: table;
    clear: both;
}

body{
    font-family: 'Open Sans', sans-serif;
}

body>header{
    width: 100%;
    height: 80px;
    line-height: 80px;
}

.float-left{
    float: left;
}

.float-right{
    float: right;
}

.relative{
    position: relative;
}

.absolute{
    position: absolute;
}

.logo{
    margin-right: 1.5rem;
    padding: 0 1rem;
}

header nav.main-nav ul li{
    list-style-type: none;
    display: inline;
    margin-right: 1.5rem;
    vertical-align: middle;
}

header nav.main-nav ul li a{
    text-decoration: none;
    color: black;
    font-size: 1rem;
    font-weight: 600;
}

.btn-blue{
    background-color: #0061ff;
    color: white;
    display: inline;
    padding: 7px 20px;
    text-decoration: none;
    font-weight: 500;
}

nav.main-nav li a.btn-blue{
    color: white;
}

section#jumbotron{
    background-color: #b4d0e7;
    width: 100%;
    height: 700px;
    margin-bottom: 200px;
}

section#jumbotron div.container{
    width: 90%;
    min-width: 980px;
    margin: 0 auto;
    left: 150px;
    top: 90px;
}

section#jumbotron div.container h1{
    font-size: 4.8rem;
    font-weight: bold;
    margin-bottom: 50px;
}

div.paragraph{
    width: 30%;
    font-weight: 500;
    margin-bottom: 50px;
}

div.paragraph p{
    margin-bottom: 35px;
}

div.paragraph i.fas{
    font-size: 2.5rem;
}


div.image-jumbotron{
    left: 480px;
}

div.image-jumbotron img{
    width: 88%;
}

.main-section{
    width: 75%;
    min-width: 1140px;
    background-color: lightblue;
    margin: 0 auto;
}

.main-section h2{
    margin-bottom: 50px;
    font-size: 2.6rem;
}

.flag{
    width: 100%;
    margin-bottom: 35px;
}

.radio-subscription{
    font-size: 1rem;
    margin: 0 10px 0 5px;
    font-weight: 600;
}

div.card{
    border: 1px solid grey;
    width: 30%;
    height: 900px;
    min-width: 305px;
}

.central-card{
    margin: 0 56.9px;
}

div.card>header{
    height: 40px;
    text-align: center;
    padding: 10px;
    border-bottom: 1px solid grey;
}

div.card>main{
    padding: 30px;
    line-height: 2.2rem;
    font-size: 0.85rem;
    font-weight: 500;
}

div.card main h3{
    font-size: 1.5rem;
    /* margin-bottom: 15px; */
}

div.card main h4{
}


div.card main p{
    font-size: 0.85rem;
    color: grey;
}

div.card  div.try{
    margin: 1.5rem 0;
    text-align: center;
}

div.card  div.try a.btn-blue{
    height: 50px;
    padding: 0.5rem 2.5rem;
}

div.card  span.buy-now a{
    color: #0061ff;
}

div.card span.buy{
    border-bottom: 1px solid black;
    padding-bottom: 1.5rem;
}

div.card main div.plan-features {
    margin: 2.5rem 0;
}

section.main-section div.card div.plan-advantages ul li,
div.card main div.plan-features ul li{
    text-indent: -10px;
    padding-left: 20px;
    line-height: 1.5rem;
    margin-bottom: 0.8rem;
}

div.card main ul li{
    list-style-type: none;
}

div.card main div.plan-features .fas{
    color: #0061ff;
}

div.card main .fas,
div.card main .far{
    margin-right: 5px;
}

#delete{
    margin: 1rem 0 1.5rem;
}