/*  RESET */
*{
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

/* CLEARFIX */
.clearfix::after{
    content: "";
    display: table;
    clear: both;
}

header{
    width: 100%;
    height: 80px;
    line-height: 80px;
    /* padding: 1rem 1rem; */
}

body{
    font-family: 'Open Sans', sans-serif;
}

.float-left{
    float: left;
}

.float-right{
    float: right;
}

.relative{
    position: relative;
}

.absolute{
    position: absolute;
}

.logo{
    margin-right: 1.5rem;
    padding: 0 1rem;
}

header nav.main-nav ul li{
    list-style-type: none;
    display: inline;
    margin-right: 1.5rem;
    vertical-align: middle;
}

header nav.main-nav ul li a{
    text-decoration: none;
    color: black;
    font-size: 1rem;
    font-weight: 700;
}

.btn-blue{
    background-color: #0061ff;
    color: white;
    display: inline;
    padding: 7px 20px;
    text-decoration: none;
}

nav.main-nav li a.btn-blue{
    color: white;
}

#jumbotron{
    background-color: #b4d0e7;
    width: 100%;
    height: 700px;
}

section#jumbotron div.container{
    width: 85%;
    min-width: 980px;
    margin: 0 auto;
    left: 150px;
    top: 90px;
}

section#jumbotron div.container h1{
    font-size: 5rem;
    font-weight: bold;
    margin-bottom: 50px;
}

div.paragraph{
    width: 30%;
    font-weight: 800;
    margin-bottom: 50px;
}

div.paragraph p{
    margin-bottom: 35px;
}

.fas{
    font-size: 2.5rem;
    color: black;
}


div.image-jumbotron{
    left: 450px;
}

div.image-jumbotron img{
    width: 90%;
}

#delete{
    margin: 1rem 0 1.5rem;
}