/*  RESET */
*{
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

/* CLEARFIX */
.clearfix::after{
    content: "";
    display: table;
    clear: both;
}

body{
    font-family: 'Open Sans', sans-serif;
}

body>header{
    width: 100%;
    height: 80px;
    line-height: 80px;
}

.float-left{
    float: left;
}

.float-right{
    float: right;
}

.relative{
    position: relative;
}

.absolute{
    position: absolute;
}

nav.logo{
    margin-right: 1.5rem;
    padding: 0 1rem;
}

nav.logo img{
    vertical-align: middle;
}

header nav.main-nav ul li{
    list-style-type: none;
    display: inline;
    margin-right: 1.5rem;
    vertical-align: middle;
}

header nav.main-nav ul li a{
    text-decoration: none;
    color: black;
    font-size: 1rem;
    font-weight: 600;
}

.btn-blue{
    background-color: #0061ff;
    color: white;
    display: inline;
    padding: 7px 20px;
    text-decoration: none;
    font-weight: 500;
}

nav.main-nav li a.btn-blue{
    color: white;
}

section#jumbotron{
    background-color: #b4d0e7;
    width: 100%;
    height: 700px;
    margin-bottom: 200px;
}

section#jumbotron div.container{
    width: 90%;
    min-width: 980px;
    margin: 0 auto;
    left: 150px;
    top: 90px;
}

section#jumbotron div.container h1{
    font-size: 4.8rem;
    font-weight: bold;
    margin-bottom: 50px;
}

div.paragraph{
    width: 30%;
    font-weight: 500;
    margin-bottom: 50px;
}

div.paragraph p{
    margin-bottom: 35px;
}

div.paragraph i.fas{
    font-size: 2.5rem;
}


div.image-jumbotron{
    left: 480px;
}

div.image-jumbotron img{
    width: 88%;
}

.main-section{
    width: 75%;
    min-width: 1140px;
    margin: 0 auto;
}

.main-section h2{
    margin-bottom: 50px;
    font-size: 2.6rem;
}

.flag{
    width: 100%;
    margin-bottom: 35px;
}

.radio-subscription{
    font-size: 1rem;
    margin: 0 10px 0 5px;
    font-weight: 600;
}

div.card{
    border: 1px solid grey;
    width: 30%;
    height: 900px;
    min-width: 305px;
}

.central-card{
    margin: 0 56.9px;
}

div.footer-card{
    border: 1px solid grey;
    width: 100%;
    height: 250px;
    min-width: 100%;
    margin-top: 50px;
    margin-bottom: 150px;
}

div.footer-card div.call{
    top: 80px;
    right: 35px;
}

div.footer-card div.call .btn-blue{
    padding: 10px 60px;
}

div.card>header{
    height: 40px;
    text-align: center;
    padding: 10px;
    border-bottom: 1px solid grey;
}

.fas, .far{
    margin-right: 5px;
}

div.card>div.main{
    padding: 30px;
    line-height: 2.2rem;
    font-size: 0.85rem;
    font-weight: 500;
}

div.card div.main h3,
div.aside-article h4,
div.little-card h4{
    font-size: 1.5rem;
}

div.card div.main p{
    font-size: 0.85rem;
    color: grey;
}

div.card  div.try{
    margin: 1.5rem 0;
    text-align: center;
}

div.card  div.try a.btn-blue{
    height: 50px;
    padding: 0.5rem 2.5rem;
}

div.card  span.buy-now a{
    color: #0061ff;
}

div.card span.buy{
    border-bottom: 1px solid black;
    padding-bottom: 1.5rem;
}

div.card div.main div.plan-features {
    margin: 2.5rem 0;
}

section.main-section div.card div.plan-advantages ul li,
div.card div.main div.plan-features ul li{
    text-indent: -10px;
    padding-left: 20px;
    line-height: 1.5rem;
    margin-bottom: 0.8rem;
}

div.card div.main ul li{
    list-style-type: none;
}

div.card div.main div.plan-features .fas{
    color: #0061ff;
}

div.card div.main .fas,
div.card div.main .far{
    margin-right: 5px;
}

div.central-image{
    width: 55%;
    margin-bottom: 100px;
}

div.central-image img{
    width: 100%;
}

div.aside-article{
    width: 40%;
    margin-left: 50px;
    padding-top: 50px;
}

div.aside-article p{
    font-weight: 600;
    margin: 25px 0;
    line-height: 1.8rem;
}

div.aside-article a{
    height: 50px;
    font-weight: 600;
    padding: 0.5rem 2rem;
    color: black;
    text-decoration: none;
    border: 1px solid black;
}

section.row{
    margin-bottom: 100px;
}

div.little-card{
    width: 30%;
}

div.little-card img{
    width: 100%;
}

div.little-card .central-card{
    margin: 0 50px;
}

div.little-card p{
    font-weight: 500;
    margin: 25px 0;
    line-height: 1.4rem;
}

section.partner{
    width: 100%;
    left: 20%;
    margin-bottom: 5rem;
}

div.partner-title{
    width: 40%;
    min-width: 600px;
    left: 20%;
    margin-bottom: 50px;
}

div.partner-title h2{
    margin-bottom: 30px;
    font-size: 2.6rem;
}

div.partner-title a{
    color: #0061ff;
}

section.partner-info{
    min-width: 1519px;
}

.partner-logo{
    width: 30vw;
    height: 30vw;
    min-width: 360px;
}

.partner-logo-quote{
    width: 38.9vw;
    height: 30vw;
    min-width: 360px;
    padding: 3rem;
    background-color: #F5F5F5;   
    overflow: scroll;
}

.partner-logo-quote div.header{
    width: 15%;
    padding-bottom: 3rem;
    border-bottom: 1px solid lightgrey;
}

.partner-logo-quote div.header img{
    width: 150px;
}

.partner-logo-quote div.main p,
.partner-logo-quote div.footer p{
    margin-top: 2.5rem;
    font-weight: 500;
    line-height: 1.4rem;
}

.partner-quarter#first{
    width: 50%;
    height: 50%;
    background-color:  #a2d39b;
    border: 10px solid #d0e9cd;
}

.partner-quarter#second{
    width: 50%;
    height: 50%;
    background-color:  #61082b;
}

.partner-quarter#third{
    width: 50%;
    height: 50%;
    background-color:  #0093CE;
}

.partner-quarter#fourth{
    width: 50%;
    height: 50%;
    background-color:  #FF1C1C;
}

.partner-quarter#fifth{
    width: 50%;
    height: 50%;
    background-color:  #D5001F;
}

.partner-quarter#sixth{
    width: 50%;
    height: 50%;
    background-color:  #B4D0E7;
}

.partner-quarter#seventh{
    width: 50%;
    height: 50%;
    background-color:  #0D2481;
}

.partner-quarter#eighth{
    width: 50%;
    height: 50%;
    background-color:  #FFD830;
}

.partner-image{
    width: 100%;
    height: 100%;
}

section.partner-info div.become-partner{
    width: 100%;
    height: 350px;
    background-color: #B4D0E7;
}

section.partner div.become-partner h2{
    font-size: 2.6rem;
    color: #61082b;
}

section.partner div.become-partner a{
    background-color: #FFFFFF;
    color: #2C2C2C;
    padding: 8px 50px;
    text-decoration: none;
    font-weight: 500;
}

section.partner div.become-partner-title{
    width: 40%;
    top: 37%;
    left: 15%;
}

section.partner div.become-partner a{
    top: 37%;
    right: 15%;
}

img.svg{
    width: 50%;
    left: 50%;
    top: 50%;
    filter: invert(1);
    transform: translate(-50%, -50%);
}

section.faq-section{
    width: 75%;
    margin: 0 auto;
    height: 700px;
    left: 20%;
}

section.faq-section h3{
    font-size: 1.8rem;
    padding: 3rem 0;
    border-bottom: 1px solid #ECECEE;
}

section.faq-section h5{
    font-size: 1rem;
    padding: 2rem 0;
    border-bottom: 1px solid #ECECEE;
}

section.faq-section span.window-faq-arrow i.fas{
    padding-right: 1rem;
}

section.faq-section p{
    display: none;
}

footer{
    width: 100%;
    height: 500px;
    background-color: #000000;
}

footer div.footer-links{
    width: 85%;
    height: 100%;
    padding: 5rem 0;
    margin: 0 auto;
    color: white;
}

footer div.footer-links ul li{
    list-style-type: none;
    font-size: 0.9rem;
    line-height: 1.5rem;
}

footer div.footer-links .footer-menu{
    width: 20%;
}

footer div.footer-links .footer-menu h3{
    font-size: 1.3rem;
    padding: 0.8rem 0;
}

footer div.footer-links div.select-language{
    bottom: 0;
    width: 10%;
    padding: 2rem 0;
    color: #333333;
}

#delete{
    margin: 1rem 0 1.5rem;
}